body {
    font-family: 'JetBrains Mono', monospace;
}

header, main, section {
    border: 2px solid red;
}

#profile_pic {
    border-radius: 200px;
    height: 300px;
}

.deap-web-card {
    border: 2px solid red;
}

.deap-card-image, .deap-card-content {
    display: inline-block;
}

.deap-card-image {
    width: 30%;

}

.deap-card-content {
    width: 60%;
}

.deap-card-content {
    border: 2px solid red;

}